/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
  margin-top:0 ;
}

.spinner__container {
  position: absolute;
  background-color: rgba($color: #FFFFFF, $alpha: 0.7);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  pointer-events: none;
}
