/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
  margin-top:0 ;
}

.spinner__container {
  position: absolute;
  background-color: rgba($color: #FFFFFF, $alpha: 0.5);
  backdrop-filter: blur(3px);;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
